{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "kentcdodds/possible-errors",
    "kentcdodds/best-practices",
    "kentcdodds/es6/possible-errors",
    "kentcdodds/es6/best-practices",
    "kentcdodds/jest",
    "kentcdodds/react"
  ],
  "plugins": ["react", "jsx-a11y", "react-hooks"],
  "globals": {
    "graphql": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "babel/quotes": "off",
    "babel/camelcase": "off",
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["components", "./src/components"],
        ["context", "./src/context"],
        ["hooks", "./src/hooks"],
        ["helpers", "./src/helpers"],
        ["pages", "./src/pages"]
      ]
    }
  }
}
